@function wp($size) {
    $wpSize: $size / 430 * 100 * 1%;

    @return $wpSize;
}

@function hp($size) {
    $hpSize: $size / 932 * 100 * 1%;

    @return $hpSize;
}

@function wpSmall($size) {
    $wpSize: $size / 380 * 100 * 1%;

    @return $wpSize;
}

@function hpSmall($size) {
    $hpSize: $size / 580 * 100 * 1%;

    @return $hpSize;
}