@function vw($size) {
    $wvSize: $size / 430 * 100 * 1vw;

    @return $wvSize;
}

@function vh($size) {
    $wvSize: $size / 932 * 100 * 1vh;

    @return $wvSize;
}

@function wp($size) {
    $wpSize: $size / 430 * 100 * 1%;

    @return $wpSize;
}

@function hp($size) {
    $hpSize: $size / 932 * 100 * 1%;

    @return $hpSize;
}