@import "src/app/styles/index";

.root {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.background {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: hp(-50);
    min-width: 100%;
    max-height: hp(614);
    height: 100%;
    object-fit: cover;
}

.cabel {
    position: absolute;
    left: wp(43);
    bottom: hp(286);
    width: wp(325);
}

.clock {
    position: absolute;
    left: wp(348);
    bottom: hp(538);
    width: wp(81);
}

.picture {
    position: absolute;
    left: wp(-30);
    bottom: hp(538);
    width: wp(92.5);
}

.keyboard {
    position: absolute;
    left: wp(70);
    bottom: hp(226);
    width: wp(287.11);
}

.banka-left {
    position: absolute;
    left: wp(121);
    bottom: hp(326.5);
    width: wp(36.13);
}

.banka-right {
    position: absolute;
    left: wp(409);
    bottom: hp(286);
    width: wp(21);
    z-index: 5;
}

.logo {
    position: absolute;
    z-index: 2;
    bottom: hp(826);
    left: 50%;
    transform: translateX(-50%);
    width: wp(151);
}

.general-button {
    position: absolute;
    z-index: 1001;
    bottom: hp(815);
    left: wp(8);
    width: wp(113);

    transition: 0.3s ease;
    transition-property: transform;
    transition-delay: 0.3s;
}

.wallet-button {
    position: absolute;
    z-index: 1001;
    bottom: hp(815);
    right: wp(8);
    width: wp(113);

    transition: 0.3s ease;
    transition-property: transform;
    transition-delay: 0.3s;
}

.ton-connect-button {
    position: absolute;
    z-index: 1001;
    bottom: hp(815);
    right: wp(8);
    width: wp(113)!important;

    transition: 0.3s ease;
    transition-property: transform;
    transition-delay: 0.3s;
    opacity: 0;

    & * {
        width: 100%;
        min-width: unset;
        box-sizing: border-box;
    }
}

:global(.is-modal-page) {
    & .wallet-button,
    & .general-button {
        transform: translateY(-100vh);
    }
}

.monitor {
    &-top {
        position: absolute;
        width: wp(290);
        height: hp(195);
        bottom: hp(530);
        left: wp(69);
    }

    &-center {
        position: absolute;
        width: wp(240);
        height: hp(190);
        bottom: hp(333);
        left: wp(100);
    }

    &-right {
        position: absolute;
        width: wp(180);
        height: hp(240);
        bottom: hp(300);
        right: wp(-82);
    }

    &-left {
        position: absolute;
        width: wp(180);
        height: hp(240);
        bottom: hp(310);
        left: wp(-68);
    }
}