@import "src/app/styles/index";

.root {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.title {
    position: absolute;
    bottom: hp(760);
    line-height: 150%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    background-image: url("../../shared/assets/images/auth/auth-background.png");
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-clip: text;
    text-align: center;
    margin: 0;

    &:nth-child(1) {
        text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000
    }

    &:nth-child(2) {
        -webkit-text-fill-color: transparent;
    }
}

.main {
    position: relative;
    z-index: 10;
}

.background {
    position: absolute;
    height: hp(753);
    width: 100%;
    bottom: hp(-50);
    left: 0;
}

.ponkes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: hp(126);
    height: hp(231);
}

.invite-button {
    position: absolute;
    left: 50%;
    bottom: hp(367);
    transform: translateX(-50%);
    width: wp(336);
    z-index: 3;
}

.statistic {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: hp(451);
    width: wp(416);
    height: hp(198);
    z-index: 5;
}

.statistic-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.tg-users {
    display: block;
    position: absolute;
    width: wp(150);
    left: wp(35);
    bottom: hp(140);

    font-size: 20px;
    line-height: 150%;
    color: #3AACFF;
    margin: 0;
    text-align: center;

    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000
}

.premium-users {
    display: block;
    position: absolute;
    width: wp(150);
    right: wp(35);
    bottom: hp(140);
    font-size: 20px;
    line-height: 150%;
    color: #FFDB5D;
    margin: 0;
    text-align: center;

    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000
}

.points {
    position: absolute;
    width: wp(350);
    height: hp(134);
    bottom: hp(635);
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;

    img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.points-value {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: rotate(-2.5deg) translateX(-50%);
    display: block;
    font-size: 40px;
    line-height: 150%;
    color: #B9BBB7;
    margin: 0;

    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000
}

.points-description {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: rotate(-2.5deg) translateX(-50%);
    display: block;
    font-size: 15px;
    line-height: 150%;
    color: #B9BBB7;
    margin: 0;

    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000
}