@import "src/app/styles/index";

.root {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.title {
    position: absolute;
    bottom: hp(760);
    line-height: 150%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    background-image: url("../../shared/assets/images/auth/auth-background.png");
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-clip: text;
    text-align: center;
    margin: 0;

    &:nth-child(1) {
        text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000
    }

    &:nth-child(2) {
        -webkit-text-fill-color: transparent;
    }
}

.main {
    position: relative;
    z-index: 10;
}

.background {
    position: absolute;
    height: hp(753);
    width: 100%;
    bottom: hp(-50);
    left: 0;
}

.points {
    position: absolute;
    width: wp(350);
    height: hp(134);
    bottom: hp(635);
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;

    img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.points-value {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: rotate(-2.5deg) translateX(-50%);
    display: block;
    font-size: 36px;
    line-height: 150%;
    color: #B9BBB7;
    margin: 0;

    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000
}

.points-description {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: rotate(-2.5deg) translateX(-50%);
    display: block;
    font-size: 15px;
    line-height: 150%;
    color: #B9BBB7;
    margin: 0;

    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000
}

.task-list-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;

    &::before {
        content: "";
        position: absolute;
        bottom: hp(630);
        left: 0;
        width: 100%;
        height: 30px;
        z-index: 3;
        background: linear-gradient(180deg, rgba(56, 163, 240, 100%) 70%, rgba(56, 163, 240, 0%));
    }
}

.task-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: hp(160);
    width: wp(416);
    height: hp(500);
    max-height: hp(500);
    overflow-y: auto;
}

.task {
    position: relative;
    width: 100%;
    height: 80px;

    &:nth-child(1) {
        margin-top: 30px; 
    }

    &:last-child {
        margin-bottom: 20px; 
    }

    & + & {
        margin-top: hp(12);
    }
}

.task-label {
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #3AACFF;
    border: 3px solid #000;
    top: -5%;
    left: 3%;
    z-index: 2;
    box-sizing: border-box;
    object-fit: cover;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3AACFF;
    }
}

.task-title {
    display: block;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 27%;
    max-width: 60%;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0;
    font-size: 30px;
    line-height: 150%;
    color: #3AACFF;
    margin: 0;
    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
    z-index: 2;
}

.task-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}