.root {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.step {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transform: translateX(100%);

    transition: 0.3s ease;
    transition-property: transform;
}

.step-prev {
    transform: translateX(0%);
    z-index: 2;
    opacity: 1!important;
}

.step-prev-hidden {
    transition: unset;

    transform: translateX(0);
    opacity: 0!important;
    z-index: 1;
}

.step-next-right {
    transform: translateX(100%);
    opacity: 1!important;
    z-index: 4;
}

.step-next-left {
    transform: translateX(-100%);
    opacity: 1!important;
    z-index: 4;
}

.step-active {
    transform: translateX(0);
    opacity: 1!important;
    z-index: 3;
}