.root {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.step {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transform: translateY(100%);

    transition: 0.3s ease;
    transition-property: transform;
}

.step-prev {
    transform: translateY(100%);
    z-index: 998;
}

.step-next {
    transform: translateY(100%);
    z-index: 999;
}

.step-active {
    transform: translateY(0);
    z-index: 999;
}